@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1 style="text-align:center">Bloglar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlık</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.BlogID</td>
            <td>@x.BlogTitle</td>
            <td>@(((DateTime)x.BlogCreateDate).ToString("dd-MMMM-yyyy"))</td>
            <td>@x.Category.CategoryName</td>
            @if (x.BlogStatus == true)
            {
                <td>Aktif</td>
            }
            else
            {
                <td>Pasif</td>
            }
            <td><a href="/Blog/DeleteBlog/@x.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@x.BlogID" class="btn btn-primary">Düzenle</a></td>
        </tr>
    }
</table>

<a class="btn btn-primary" href="/Blog/BlogAdd">Yeni Blog</a>

